@media (min-width: 375px) and (max-width: 640px) {
    .nBar {
        display: flex;
        flex-direction: column;
    }

    .logo {
        margin-left: 0;
        text-align: center;
        width: 100%;
    }
    .logo h1{
        font-size: 30px;
    }
    .navbar-end{
        width: 30%;
    }
}